

        <div class="container-fluid footer " style="background-color:black">
            <div class="row">
                <div class="col-2">
                <img src="<%= asset_path 'logo-SAFETY-SOLUTIONS-CR_1.png' %>" class= "footer-icon">
                  
                </div>
                <div class=" footer-fab col-md-4">
                    <div class="justify-content-between text-rigth py-4 mr-8">
                         <i class="fab fa-github-square fa-2x pl-2"></i> 
                        <i class="fab fa-linkedin fa-2x pl-2"></i>
                        <i class="fab fa-twitter-square fa-2x pl-2"></i>
                        <i class="fab fa-facebook fa-2x pl-2"></i>
                    </div>
                </div>
            </div>
        </div>


